/Daigdigan_IT13A_activities/nbproject/private/
/Daigdigan_IT13A_activities/build/
/Daigdigan_IT13A_activities/LabAct_2/nbproject/private/
/Daigdigan_IT13A_activities/LabAct_2/build/
/Daigdigan_IT13A_activities/dist/
